
.navbar {
    background-color: whitesmoke;
    padding: 25px;
}

.navbar-ul {
    display: flex; 
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.navbar-1 {
    display: flex; 
    gap: 20px; 
    align-items: center;
}

.navbar-2 {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.active {
    color: rgb(13, 209, 226);
}

.humberger-active {
    background-color:  rgb(13, 209, 226);
}

.navbar-logo {
    width: 50px;
}

.navbar-flex-btn {
    padding: 15px;
    color: rgb(13, 209, 226);
    background-color: black;
    border-radius: 15px;
    font-size: 15px;
    text-decoration: none;
}

#humberger-btn {
    display: none;
}

.humberger-container {
    display: flex; 
    flex-direction: column; 
    background-color: gray;
}

.humberger {
    display: none;
    width: 100%; 
    text-align: center; 
    color: white; 
    font-size: 20px; 
    text-decoration: none; 
    border: 1px solid;
}

.hidden {
    display: none;
}

/* Bagian Smartfone */
@media only screen and (max-width: 576px) {

    .navbar-2 {
        display: none;
    }

    .navbar-flex-btn {
        display: none;
    }

    .humberger {
        display: block;
    }

    #humberger-btn {
        display: block;
    }
}

