*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    margin: 20px auto;
    margin-top: 50px;
    padding: 10px;
    width: 80%;
    height: 600px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.content {
    width: 50%;
    padding: 3rem 0rem;
    margin: 5px auto;
    text-align: justify;
}

.content p {
    margin-top: 20px;
}

.contact {
    margin-top: 20px;
}
.contact .btn {
    margin-top: 20px;
    padding: 8px;
    color: white;
    background-color: black;
    font-size: 20px;
    width: 130px;
    cursor: pointer;
    border-radius: 20px   
}

.contact a {
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
}

.contact i {
    font-size: 20px;
    margin-left: 5px;
}

.icon {
    margin-top: 40px;
    font-size: 30px;
}

.card {
    margin: 0.1rem auto;
    margin-top: 60px;
    width: 22rem;
    height: 30rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.card img {
    width: 100%;
    height: 80%;
    border-radius: 5px;
}

.card .identitas {
    text-align: center;
}

.card .identitas h2 {
    margin-top: 10px;
    font-size: 35px;
}

.card .identitas p {
    font-size: 20px;
    margin-top: 5px;
}

/* bagian smartfone */
@media only screen and (max-width: 576px) {

    .container {
        flex-direction: column;
        height: 1100px;
    }

    .content {
        width: 95%;
        padding: 2rem 0rem;
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .icon {
        display: flex;
        justify-content: center;
    }

    .card {
        width: 18rem;
        height: 27rem;
        margin-top: 10px;
    }
}
