* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
}

.judul {
    margin: 50px auto;
    text-align: center;
    font-size: 25px;
}

.information {
    display: flex;
    gap: 1.5rem;
    padding: 0.5rem 3rem;
}

.information img {
    width: 850px;
    height: 550px;
}

.information .information1 {
    margin-left: 20px;
}

.information .information1 .date {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.information .information1 .month {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.information .information1 .Technologies {
    margin-top: 40px;
}

.icon-1 {
    display: flex;
    margin-top: 10px;
    font-size: 20px;
}

.icon-1 .icon2 {
    margin-left: 20px;
}

.icon-2 {
    display: flex;
    margin-top: 10px;
    font-size: 20px;
}

.icon-2 .icon4 {
    margin-left: 22px;
}

.content {
    padding: 0.5rem 3rem;
    margin-top: 30px;
    text-align: justify;
}

